<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Homepage</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='datastyle1.css') }}">
	</head>
	<body>
		<header>
			<div class="navbar">			
				<a href="/" class="nav">Homepage	</a>	
				<a href="/case_name" class="nav">Find case name by case</a>
				<a href="/justice_votes" class="nav">Find justice votes by case</a>
				<a href="/case_identifiers" class="nav">Find all identifiers by case</a>
				<a href="/all_justice_votes" class="nav">Find all votes for one justice</a>
			</div>
		</header>
		
		<p class="notfound">Page not found. Please follow the buttons on the homepage by clicking the header.</p>
	
		<footer>
			<div class="container">
				<p>&copy; Team F</p>
			</div>
		</footer>
	</body>
</html>