<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='datastyle1.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/" id="WebTitle">{{title}}</a>
        </nav>
    </header>

    <div class="search-container">
        <h1>{{function_text}}</h1>
            <form id="form" action={{function_url}}> 
			<input type="search" id="query" name="search" placeholder="Enter Case ID">
			<button id="searchButton">Search</button>
		</form>
    </div>
	
	
	<div class="answer-text">
		<p class="case-name-text">{{case_name_text}}</p>
	</div>


    <footer>
        <div class="container">
            <p>&copy; {{Developers}}</p>
        </div>
    </footer>
</body>
</html>