<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Homepage</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='datastyle1.css') }}">
	</head>
	<body>
		<header>
			<div class="navbar">			
				<a href="/" class="nav">Homepage	</a>	
				<a href="/case_name" class="nav">Case Name by Case</a>
				<a href="/justice_votes" class="nav">Justice Votes by Case</a>
				<a href="/case_identifiers" class="nav">All Identifiers by Case</a>
				<a href="/all_justice_votes" class="nav">All Votes for One Justice</a>
			</div>
		</header>
			
		<div class="search-container">
			<h1>{{function_text}}</h1>
			
			<form id ="form2" method="GET" action={{function_url}}>
				<select name="search" id="query">
					{% for choice in dropdown %}
						<option value="{{choice}}">{{choice}}</option>
					{% endfor %}
				</select>
				<button id="searchButton">Search</button>
			</form>
			
		</div>
		
		<p class="answer-text">{{case_name_text}}</p>

		<footer>
			<div class="container">
				<p>&copy; Team F</p>
			</div>
		</footer>
	</body>
</html>